.contacts {


    &__container {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: rem(70) rem(15);
        gap: rem(40);
        max-width: rem(1000);
    }

    p, a{
        font-weight: 700;
    }

    &__link{
        color:var(--primary);
    }
}
